# Node / Next.js
node_modules/
.next/
out/
build/
dist/
.env
.env.local
npm-debug.log*
yarn-error.log*

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
venv/
.venv/
env/
staticfiles/
media/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/